{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vector LMD |
            {% block title %}{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
      <!-- Alpine.js from bundled JS -->
        <script defer src="{% static 'js/bundle.js' %}"></script>
    </head>
    <body class="bg-gray-50 font-serif leading-normal tracking-normal m-0 min-h-screen min-w-screen">
        <div class="flex m-0 p-0 min-h-screen">
         <!-- Sidebar -->
            <div class="w-14 h-screen bg-gray-800 text-white flex flex-col items-center">
                {% block sidebar %}{% endblock %}
            </div>
         <!-- Content -->
            <div class="flex-1 w-full bg-white p-4">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
<script>
   // Alpine.js initialization
    document.addEventListener('alpine:init', () => {
        Alpine.data('sidebar', () => ({
            open: false,
            toggle() {
                this.open = !this.open;
            }
        }));
    });
</script>
