{% load static tailwind_tags %}
<c-base.base>
<c-slot name="page_title">Production Management</c-slot>
<c-slot name="sidebar"><c-base.sidebar /></c-slot>
<c-slot name="content">
<div class="relative">
  <div class="px-4 py-6 mx-auto text-center">
    <h1 class="mb-2 text-2xl font-extrabold text-gray-800">Welcome to Production Management</h1>
    <p class="mx-auto text-gray-600 text-md">
      Manage your production processes efficiently with our integrated tools and workflows.
    </p>
  </div>
</div>
<div class="mx-auto px-7 py-7">
  <div class="grid grid-cols-1 gap-7 sm:grid-cols-2 lg:grid-cols-3">
    {% for card in cards %}
      <div class="h-full">
        <c-production.departments_card color="{{ card.color }}" title="{{ card.title }}" description="{{ card.description }}" icon="{{ card.icon }}" href="{{ card.url }}">
        </c-production.departments_card>
      </div>
    {% endfor %}
  </div>
</div>
</c-slot>
</c-base.base>
